# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
env/
venv/
.Python

# Database files
*.db
*.sqlite3

# Logs
*.log

# Mac OS
.DS_Store

# Windows
Thumbs.db
